extends layout

block content
    // main content start
    #page-wrapper
        .main-page
            .tables
                h2.title1 Guards :
                    |
                    |
                    = size
                .col-md-12.button_set_one.three.agile_info_shadow
                    a.btn.btn-sm.btn-primary.btn-flat.btn-pri(type='button', href="/guards/create")
                        i.fa.fa-plus(aria-hidden='true')
                        |  Add guard
                .table-responsive.bs-example.widget-shadow
                    // h4 Responsive Table:
                    if size > 0
                        table.table#customer-table
                            thead
                                tr
                                    th Picture
                                    th Name
                                    th Email
                                    th Phone
                                    th Credit
                                    th Actions
                            tbody
                                each val, index in guards
                                    tr
                                        td
                                            if val.avatar
                                                img(src=val.avatar, alt='', width='50px', height='50px')
                                            else
                                                img(src='/vehc_images/avatar.png', alt='', width='50px', height='50px')
                                        td= val.name
                                        td= val.email
                                        td= val.phone
                                        td
                                            if val.credit
                                                =val.credit
                                            else
                                                =0
                                        td(style='text-align:center')
                                            a.btn.btn-info(type='button', href='/credit/' + index + '/' + val.credit + '/add') Credit
                                            |
                                            |
                                            a.btn.btn-warning(type='button', href='/guards/' + index + '/edit') Edit
                                            |
                                            |
                                            a#delete.btn.btn-danger(type='button',
                                            onclick='showModal(' + JSON.stringify(index) + ',' + JSON.stringify(val.name) + ')') Delete
                    else
                        h4.title1 No guards found!

            // Include delete guard modal
            include includes/delete_modals/guard_delete_modal